image-geometry==1.16.2
gazebo_ros==2.9.3
genlisp==0.4.18
moveit-commander==1.1.16
sensor-msgs==1.13.2
rosparam==1.17.4
smclib==1.8.7
rqt-publisher==0.4.12
rqt-py-console==0.4.12
moveit-ros-visualization==1.1.16
rosserial_client==0.9.2
gennodejs==2.0.2
tf-conversions==1.13.4
cob-map-accessibility-analysis==0.6.15
xacro==1.14.20
rqt-launch==0.4.10
base_local_planner==1.17.3
actionlib==1.14.3
rqt-web==0.4.11
rqt-robot-dashboard==0.5.8
rqt-pose-view==0.5.13
smach==2.5.3
moveit-ros-planning-interface==1.1.16
dynamic-reconfigure==1.7.6
rosserial_python==0.9.2
rqt-runtime-monitor==0.5.10
controller-manager-msgs==0.20.0
rqt-controller-manager==0.20.0
rqt-robot-monitor==0.5.15
moveit-core==1.1.16
geneus==3.0.0
tf2-kdl==0.7.10
rosnode==1.17.4
rosservice==1.17.4
rqt-gui==0.5.5
message-filters==1.17.4
srdfdom==0.6.4
rostopic==1.17.4
tf2-ros==0.7.10
rosgraph==1.17.4
topic-tools==1.17.4
rqt-topic==0.4.15
rospy==1.17.4
angles==1.9.14
catkin==0.8.12
rviz==1.14.26
qt-gui-py-common==0.4.5
camera-calibration==1.17.0
controller-manager==0.20.0
gazebo_plugins==2.9.3
rqt-image-view==0.4.19
rosmsg==1.17.4
rqt-py-common==0.5.5
rqt-dep==0.4.14
cv-bridge==1.16.2
roslaunch==1.17.4
bondpy==1.8.7
qt-gui==0.4.5
tf2-sensor-msgs==0.7.10
diagnostic-analysis==1.12.1
rqt-service-caller==0.4.12
smach-ros==2.5.3
qt-dotgraph==0.4.5
rqt-tf-tree==0.6.5
rosmake==1.15.10
rqt-action==0.4.11
camera-calibration-parsers==1.12.1
urdfdom-py==0.4.6
rqt-plot==0.4.16
roscreate==1.15.10
tf==1.13.4
joint-state-publisher-gui==1.15.2
qt-gui-cpp==0.4.5
gencpp==0.7.2
laser-geometry==1.6.8
rosclean==1.15.10
genmsg==0.6.1
rqt-reconfigure==0.5.7
rqt-gui-py==0.5.5
roslib==1.15.10
rosserial_arduino==0.9.2
rqt-nav-view==0.5.8
rqt-console==0.4.14
rosunit==1.15.10
turtlebot3_example==1.2.5
rqt-bag-plugins==0.5.3
rqt-logger-level==0.4.13
tf2-geometry-msgs==0.7.10
roslz4==1.17.4
interactive-markers==1.12.2
rqt-bag==0.5.3
rqt-top==0.4.11
python-qt-binding==0.4.6
rosboost-cfg==1.15.10
rqt-graph==0.4.16
genpy==0.6.18
rqt-shell==0.4.13
roswtf==1.17.4
joint-state-publisher==1.15.2
rqt-rviz==0.7.2
diagnostic-updater==1.12.1
diagnostic-common-diagnostics==1.12.1
turtlebot3_teleop==1.2.5
rostest==1.17.4
rosmaster==1.17.4
roslint==0.12.0
rqt-msg==0.4.12
resource-retriever==1.12.10
tf2-py==0.7.10
rosbag==1.17.4
rqt-robot-steering==0.5.14
rqt-moveit==0.5.13
rqt-srv==0.4.11
gast==0.4.0
lazy_loader==0.4
google-pasta==0.2.0
joblib==1.2.0
torch==2.4.1
tensorflow-estimator==2.10.0
opencv-python==4.6.0.66
MarkupSafe==2.1.1
parso==0.8.3
contourpy==1.1.1
packaging==21.3
google-auth==2.11.0
pyzmq==24.0.0
imageio==2.35.1
decorator==5.1.1
tifffile==2023.7.10
pycocotools==2.0.5
jmespath==1.0.1
tensorboard-data-server==0.6.1
opt-einsum==3.3.0
albumentations==1.4.18
mpmath==1.3.0
matplotlib==3.7.5
libclang==14.0.6
typing_extensions==4.12.2
s3transfer==0.11.2
zipp==3.20.2
importlib_resources==6.4.5
astunparse==1.6.3
jupyter-core==4.11.1
importlib-metadata==4.12.0
albucore==0.0.17
pydantic==2.10.6
boto3==1.36.23
web.py==0.40.dev1
jedi==0.18.1
numpy==1.23.2
debugpy==1.6.3
flatbuffers==2.0.7
grpcio==1.48.1
pydantic_core==2.27.2
prompt-toolkit==3.0.31
pandas==2.0.3
pure-eval==0.2.2
tensorflow-io-gcs-filesystem==0.26.0
cachetools==5.2.0
Jinja2==3.1.4
executing==1.0.0
asttokens==2.0.8
backcall==0.2.0
scikit-learn==1.1.2
seaborn==0.13.2
Pygments==2.13.0
botocore==1.36.23
h5py==3.7.0
ipython==8.5.0
annotated-types==0.7.0
google-auth-oauthlib==0.4.6
python-dateutil==2.8.2
Markdown==3.4.1
stack-data==0.5.0
torchaudio==2.4.1
fsspec==2024.6.1
qudida==0.0.4
traitlets==5.4.0
Werkzeug==2.2.2
tensorflow-cpu-aws==2.10.0
pyrr==0.10.3
configparser==5.0.0
sympy==1.13.1
PyWavelets==1.4.1
scipy==1.9.1
tzdata==2025.1
keras==2.10.0
nest-asyncio==1.5.5
tf-slim==1.1.0
threadpoolctl==3.1.0
wcwidth==0.2.5
Keras-Preprocessing==1.1.2
scikit-image==0.21.0
jupyter_client==7.3.5
charset-normalizer==3.4.1
pytz==2025.1
fonttools==4.56.0
torchvision==0.19.1
absl-py==1.2.0
filelock==3.13.1
requests-oauthlib==1.3.1
ipykernel==6.15.3
tensorflow==2.10.0
networkx==3.1
tensorboard-plugin-wit==1.8.1
eval_type_backport==0.2.2
matplotlib-inline==0.1.6
rsa==4.9
pickleshare==0.7.5
tornado==6.2
multipledispatch==1.0.0
tensorboard==2.10.0
termcolor==1.1.0
tqdm==4.67.1
oauthlib==3.3.1
wandb==0.21.0
pyparsing==3.0.9
pyparsing==3.1.4
dm-control==1.0.14
PyYAML==6.0.2
urllib3==1.26.18
safetensors==0.5.3
requests==2.32.4
lxml==6.0.0
zipp==3.20.2
pexpect==4.9.0
click==8.1.8
pip==24.3.1
pillow==10.4.0
PyOpenGL==3.1.9
mujoco==2.3.7
fonttools==4.51.0
smmap==5.0.2
wrapt==1.14.1
sentry-sdk==2.32.0
glfw==2.9.0
kiwisolver==1.4.7
kiwisolver==1.4.4
packaging==24.1
certifi==2025.6.15
pyquaternion==0.9.9
pyasn1_modules==0.4.2
ptyprocess==0.7.0
wheel==0.45.1
catkin-pkg==1.0.0
GitPython==3.1.44
tokenizers==0.19.1
labmaze==1.0.6
rospkg==1.6.0
dm-tree==0.1.8
transformers==4.41.2
distro==1.9.0
psutil==7.0.0
gitdb==4.0.12
tensorboardX==2.6
diffusers==0.11.1
huggingface-hub==0.23.4
numpy==1.24.3
six==1.16.0
einops==0.8.1
platformdirs==4.3.6
cycler==0.11.0
cycler==0.12.1
contourpy==1.0.5
importlib_resources==6.4.0
dm-env==1.6
tornado==6.4.1
pyasn1==0.6.1
egl-probe==1.0.2
python-dateutil==2.9.0.post0
matplotlib==3.7.2
idna==3.10
setuptools==68.2.2
regex==2024.11.6
protobuf==3.19.6
imageio-ffmpeg==0.5.1
unicodedata2==15.1.0
docutils==0.20.1
detr==0.0.0
robomimic==0.5.0
